# Android
android-app/*.iml
android-app/.gradle/
android-app/local.properties
android-app/.idea/
android-app/build/
android-app/app/build/
android-app/captures/
android-app/.externalNativeBuild/
android-app/.cxx/
*.apk
*.aab

# Python
research/venv/
research/__pycache__/
research/**/__pycache__/
*.pyc
.ipynb_checkpoints/

# OS/IDE
.DS_Store
Thumbs.db
.vscode/